body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
