/* Estilo do corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url(/public/back.png);

  

/* Estilo do botão de Iniciar Quiz */
.button-start {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-start:hover {
  background-color: #0056b3;
}

/* Estilo para os botões de resposta */
.button-answer {
  padding: 10px 20px;
  margin: 5px;
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button-answer:hover {
  background-color: #5bc0de;
}

/* Estilo para o botão de reiniciar o quiz */
.button-restart {
  padding: 10px 20px;
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-restart:hover {
  background-color: darkgreen;
}

/* Estilo para os títulos */
h2 {
  font-size: 24px;
  color: #333;
}

/* Estilo da pontuação */
p {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

/* Estilo geral do App */
.App {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo semi-transparente */
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(1, 5, 0, 10);
  width: 100%;
  max-width: 600px;
  text-align: center;
  background-image: url(/public/back.png);
}
  /* Deixe o fundo semi-transparente para permitir o fundo da página visível */
}

/* Seção de Seleção de Nome */
.name-selection {
  margin-top: 20px;
}

.name-selection button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgreen;
  cursor: pointer;
}

/* Estilo de texto com cor vermelha */
.p1 {
  color: #ff0000;
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  .button-start,
  .button-answer,
  .button-restart {
    padding: 8px 15px;
    font-size: 16px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  .App {
    padding: 15px;
    width: 90%;
  }

  .name-selection button {
    padding: 8px;
    font-size: 14px;
    margin: 8px;
  }
}

@media (max-width: 480px) {
  .button-start,
  .button-answer,
  .button-restart {
    padding: 6px 12px;
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .App {
    padding: 10px;
    width: 100%;
  }

  .name-selection button {
    padding: 6px;
    font-size: 12px;
    margin: 6px;
  }

  .p1 {
    font-size: x-small;
  }
}
